### A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [ ]:
data=pd.read_csv('/content/Cutlets.csv')

In [ ]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

We are going to use Two Tailed T test on independent sample with numeric data

In [ ]:
data.describe() #Descriptive Statistics

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [ ]:
data.info()#data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

Hypothesis using T Test

In [ ]:
test_statistic,P_value=stats.ttest_ind(data['Unit A'],data['Unit B'])

In [ ]:
print('P_value=',P_value)

P_value= 0.4722394724599501

Compare P_vaule with Significane vaule
if p vaule is not equal to signifacances vaule then we fail to reject Null Hypothesis(h0)

if p_vaule is equal to signifacances vaule then we reject null Hypothesis (h0)

In [ ]:
alpha = 0.05 # signifance vaule

In [ ]:
if  P_value < alpha :
  print('we reject the null hypothesis there is no significance difference between two Units A and B')
else:
  print('we fail to reject Null hypothesis')

we fail to reject Null hypothesis

**Hence, We fail to reject Null Hypothesis because of lack of evidence, there is  significant difference between the two samples**

HYPOTHESIS TESTING EXCERIES 2

#    A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
### #Â

In [ ]:
# importinng important lib

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
labtat=pd.read_csv("/content/LabTAT.csv")

In [ ]:
labtat.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [ ]:
labtat.describe() # descriptive stat

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [ ]:
labtat.info()#data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

Due to 4 independnt sample we are going to use ANOVA test

In [ ]:
_,p_value = stats.f_oneway(labtat.iloc[:,0],labtat.iloc[:,1],labtat.iloc[:,2],labtat.iloc[:,3])
print('p_value =',p_value)

p_value = 2.1156708949992414e-57

In [ ]:
alpha = 0.05 # signifance vaule

In [ ]:
if  p_value < alpha :
  print('We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories')
else:
  print('we fail to reject Null hypothesis')

We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories

**Hence, We fail to reject Null Hypothesis because of lack of evidence, there is no significant difference between the two samples**

HYPOTHESIS TESTING EXCERIES 3

*Test of independence using chi square test\*

In [ ]:

import pandas as pd
import numpy as np
import scipy.stats as stats
import seaborn as sns
from scipy.stats import chi2_contingency

In [ ]:
buyer = pd.read_csv('/content/BuyerRatio (1).csv')

In [ ]:
buyer.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [ ]:
table=[[50,142,131,70],
        [435,1523,1356,750]]

In [ ]:
stat, p, dof, expected = chi2_contingency(table) #BY applying chi ssqure contingency table to convert observed value into expected value 
#,will return test_stat , p vaule , degree of freedome & expected table

In [ ]:
print(stat,p,dof,expected)

1.595945538661058 0.6603094907091882 3 [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [ ]:
observed = np.array([50, 142, 131, 70, 435, 1523, 1356, 750])
expected = np.array([42.76531299,  146.81287862,  131.11756787, 72.30424052, 442.23468701, 1518.18712138, 1355.88243213, 747.69575948])

In [ ]:
statistics, p_value = stats.chisquare(observed, expected, ddof = 3) #Comparing Evidence with Hypothesis
print("Statistics = ",statistics,'P_Value = ', p_value)

Statistics =  1.5959455390914483 P_Value =  0.8095206646905712

In [ ]:
alpha = 0.05 # significance vaule 
if p_value <= alpha:
  print('We reject Null Hypothesis there is a significance difference ')
else:
  print('We fail to reject Null hypothesis')

We fail to reject Null hypothesis

We fail to reject Null Hypothesis because of lack evidence. Therefore, there is no association or dependency between male-female buyers rations and are similar across regions.

Exceries 4

### ** TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences**

In [4]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import seaborn as sns
from scipy.stats import chi2_contingency

In [5]:
data=pd.read_csv('/content/Costomer+OrderForm.csv')

In [6]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [8]:
data.describe() #applying descriptive stat

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [9]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [10]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [13]:
observed=([[271,267,269,280],[29,33,31,20]])

In [14]:
observed

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [15]:
stat, p, dof, expected = chi2_contingency([[271,267,269,280],[29,33,31,20]])

In [16]:
stat

3.858960685820355

In [17]:
p

0.2771020991233135

In [18]:
alpha = 0.05

In [19]:
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

significance=0.050, p=0.277
Independent (fail to reject H0)